.spending-flowchart {
  width: 100%;
  // README hardcoded height because it fits my monitor the best
  height: 1270px;

  cursor: grab;
}

.react-flow__node {
  width: 300px;
  height: 150px;

  border-width: 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-flow__node-customHandles {
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  background: #fff;
  border-color: #1a192b;

  &.selected,
  &.selected:hover {
    box-shadow: 0 0 0 0.5px #1a192b;
  }

  .react-flow__handle {
    background: #1a192b;
  }
}

.react-flow__node-customHandles.selectable {
  &:hover {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.08);
  }
}

.title {
  width: 2550px;
  font-size: 18px;

  // README hardcoded
  transform: translate(-138px, -250px) !important;

  border-style: none;

  strong {
    font-size: 24px;
  }
}

.legend {
  width: 2600px;
  height: 200px;

  // README hardcoded to make it fit all phase nodes
  transform: translate(-163px, -88px) !important;
}

$phaseColors: (
  'phase-0' : navy,
  'phase-1' : red,
  'phase-2' : yellow,
  'phase-3' : green,
  'phase-4' : lightblue,
  'phase-5' : blue,
  'phase-6' : purple,
);

@each $name, $color in $phaseColors {
  .#{$name} {
    border-color: $color;
  }
}
